{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'dashboard' %}">
            <img src="{% static 'images/favicon.png' %}" alt="{{ COMPANY_NAME }} logo" width="30" height="30" class="me-2 align-top" />
            <span>{{ COMPANY_NAME }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
                        <i class="bi {% if request.resolver_match.url_name == 'dashboard' %}bi-grid-fill{% else %}bi-grid{% endif %}"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'vehicle-list' %}active{% endif %}" href="{% url 'vehicle-list' %}">
                        <i class="bi {% if request.resolver_match.url_name == 'vehicle-list' %}bi-car-front-fill{% else %}bi-car-front{% endif %}"></i>
                        Vehicles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'post_list' %}active{% endif %}" href="{% url 'forum:post_list' %}">
                        <i class="bi {% if request.resolver_match.url_name == 'post_list' %}bi-file-earmark-text-fill{% else %}bi-file-earmark-text{% endif %}"></i>
                        Posts
                    </a>
                </li>
            </ul>

            <!-- Right side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi {% if request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'change_password' %} bi-person-fill {% else %} bi-person {% endif %}"></i>

                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                        <li>
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}">
                                <i class="bi {% if request.resolver_match.url_name == 'profile' %}bi-file-person-fill{% else %}bi-file-person{% endif %}"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'change_password' %}active{% endif %}" href="{% url 'change_password' %}">
                                <i class="bi {% if request.resolver_match.url_name == 'change_password' %}bi-key-fill{% else %}bi-key{% endif %}"></i>
                                Change Password
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}"> <i class="bi bi-box-arrow-right"></i> Logout </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
