{% extends 'base.html' %} {% load static %} {% block content %} {% load widget_tweaks %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="text-center">
                            <h2>{{ COMPANY_NAME }}</h2>
                            <h6>Password reset complete</h6>
                            <hr />
                        </div>
                    </div>
                    <p id="reset-sent" class="text-center">Your password has been set. You may go ahead and log in now.</p>
                    <div class="text-center">
                        <p>
                            <a href="{% url 'login' %}"><strong>Login</strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
