{% extends 'base.html' %} {% load static %} {% block content %} {% load widget_tweaks %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="text-center">
                            <h2>{{ COMPANY_NAME }}</h2>
                            <h6>Password reset sent</h6>
                            <hr />
                        </div>
                    </div>
                    <p id="reset-sent" class="text-center">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                </div>

                <div class="text-center">
                    <p>
                        Are a member?
                        <a href="{% url 'login' %}"><strong>Login</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
