{% extends 'base.html' %} {% load static %} {% block content %} {% load widget_tweaks %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-center">
                                <h2>{{ COMPANY_NAME }}</h2>
                                <h6>Reset Password</h6>
                                <p id="send-email-instruction">Enter your email and we'll send you a link<br />to get back into your account.</p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="form">
                        <form action="{% url 'reset_password' %}" method="post">
                            {% csrf_token %}

                            <section class="row form-outline mb-3">
                                <div class="label-float col-12 col-lg-12">{{ form.email.label }} {% render_field form.email class="form-control mb-3"%}</div>
                            </section>

                            {% include 'partials/_alert.html' %}

                            <button type="submit" class="btn btn-light border shadow-sm btn-block mb-4"><i class="fa-solid fa-paper-plane me-1"></i> Send Email</button>

                            <div class="text-center">
                                <p>
                                    Are a member?
                                    <a href="{% url 'login' %}"><strong>Login</strong></a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
